* {
    padding: 0;
    margin: 0;
    box-sizing: border box;
    text-decoration: none;
    list-style: none;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Ubuntu', sans-serif;
}

/* home */

body {
    background-color: #1F2028;
}

p {
    color: #fff;
}

.home-nome {
    font-weight: 700;
    color: #fff;
    font-size: 50px;
    margin: 0 540px;
}

.home-disc {
    margin: 0px 500px;
    font-size: 40px;
    font-weight: 600;
}

span {
    color: #9c2374;
}

.home-name {
    font-weight: 600;
    margin: 300px 0 0 0;
}

.button-box {
    margin: 30px 530px;
    box-shadow: 1px 1px 10px 3px #000;
}

.button-box button {
    width: 150px;
    height: 60px;
    line-height: 60px;
    background-color: #1F2028;
    margin: 10px;
}

.button-box button a {
    font-size: 25px;
    color: #9c2374;
}

.button-box button:hover {
    border-radius: 15px;
    background-color: #023e49;
}

@media only screen and (max-width: 1300px) {
    body {
        background-color: #1F2028;
    }

    p {
        color: #fff;
    }

    .home-nome {
        font-weight: 700;
        color: #fff;
        font-size: 50px;
        margin: 0 200px;
    }

    .home-disc {
        margin: 0px 100px;
        font-size: 40px;
        font-weight: 600;
    }

    span {
        color: #9c2374;
    }

    .home-name {
        font-weight: 600;
        margin: 50px 0 0 0;
    }

    .button-box {
        margin: 30px 230px;
    }

    .button-box button {
        width: 150px;
        height: 60px;
        line-height: 60px;
        background-color: #012a31;
        margin: 10px;
    }

    .button-box button a {
        font-size: 25px;
        color: #9c2374;
    }

    .button-box button:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: #1F2028;
    }

    p {
        color: #fff;
    }

    .home-nome {
        font-weight: 700;
        color: #fff;
        font-size: 30px;
        margin: 0 50px;
    }

    .home-disc {
        margin: 0px 20px;
        font-size: 20px;
        font-weight: 600;
    }

    span {
        color: #9c2374;
    }

    .home-name {
        font-weight: 600;
        margin: 50px 0 0 0;
    }

    .button-box {
        margin: 30px 30px;
    }

    .button-box button {
        width: 100px;
        height: 30px;
        line-height: 30px;
        background-color: #012a31;
        margin: 10px;
    }

    .button-box button a {
        font-size: 15px;
        color: #9c2374;
    }

    .button-box button:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
}

/* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
/* blogs */

.button-area {
    margin: 30px;
    width: 130px;
    height: 45px;
    line-height: 45px;
    background-color: #012a31;
    box-shadow: 1px 1px 10px 3px #000;
}

.button-area a {
    color: #9c2374;
    font-size: 15px;
}

.button-area:hover {
    border-radius: 15px;
    background-color: #023e49;
}

.card {
    box-shadow: -11px 4px 16px 9px rgba(0, 0, 0, 0.2);
    width: 800px;
    margin: 20px;
    border-radius: 15px;
}

.posts {
    display: flex;
    justify-content: center;
}

h3 {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    margin: 15px 20px;
}

.card-body {
    padding: 20px;
}

.card-body p {
    color: #adbfe3;
    margin-left: 30px;
    font-size: 15px;
}

.post-date {
    color: #adbfe3;
}

@media only screen and (max-width: 1300px) {
    .card {
        width: 680px;
        margin: 20px 40px;
    }
}

@media only screen and (max-width: 375px) {
    .card {
        width: 300px;
        margin: 0 0 25px 0;
    }

    .card-body p {
        font-size: 13px;
    }

    .card-body {
        padding: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .button-area {
        margin: 10px 0 20px 50px;
    }
}

@media (min-width: 370px) and (max-width:500px) {
    .card {
        width: 350px;
        margin: 20px 10px ;
    }

    .card-body {
        padding: 10px;
    }

    h3 {
        font-size: 18px;
    }
}