* {
    padding: 0;
    margin: 0;
    box-sizing: border box;
    text-decoration: none;
    list-style: none;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1F2028;
}

.button-area {
    margin: 30px;
    width: 130px;
    height: 65px;
    line-height: 65px;
    background-color: #012a31;
}

.button-area a {
    color: #9c2374;
    font-size: 20px;
}

.button-area:hover {
    border-radius: 15px;
    background-color: #023e49;
}

h4 {
    color: #FFA7C4;
    font-size: 35px;
    margin: 20px 30px;
}

.disciription {
    width: 1000px;
    margin: 0 auto;
}

.disciription h3 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #FFA7C4;
}

.post-date {
    margin-bottom: 15px;
}

.disciription p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.disciription img {
    margin-bottom: 30px;
    width: 1300px;
}

.disciription iframe {
    width: 1500px;
    height: 750px;
    margin-top: 25px;
}

.img img{
    width: 30px;
    margin-right: 14px;
    margin-left: 30px;
    border-radius: 50%;
}

@media only screen and (max-width: 1300px) {
    .disciription h3 {
        font-size: 30px;
        margin: 10px 10px;
    }

    .post-date {
        margin: 10px 10px;
    }

    .disciription img {
        position: relative;
        left: 125px;
        width: 550px;
        margin-top: 25px;
    }

    .disciription {
        width: 800px;
    }

    .disciription p {
        margin: 0 20px 15px 20px;
    }

    .img img {
        width: 30px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .disciription h3 {
        font-size: 20px;
    }

    .disciription h4 {
        font-size: 25px;
    }

    .post-date {
        margin: 10px 10px;
    }

    .disciription img {
        position: relative;
        left: 1px;
        width: 290px;
        margin-top: 25px;
    }

    .disciription {
        width: 300px;
    }

    .disciription p {
        font-size: 13px;
        margin: 0 20px 15px 20px;
    }

    .img img {
        width: 30px;
        margin-left: 10px;
    }
    .button-area {
        margin: 30px;
        width: 125px;
        height: 35px;
        line-height: 35px;
        background-color: #012a31;
    }
    
    .button-area a {
        color: #9c2374;
        font-size: 15px;
    }
    
    .button-area:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
}

@media (min-width: 355px) and (max-width:500px) {
    .disciription h3 {
        font-size: 20px;
    }

    .disciription h4 {
        font-size: 25px;
    }

    .post-date {
        margin: 10px 10px;
    }

    .disciription img {
        position: relative;
        left: 25px;
        width: 290px;
        margin-top: 25px;
    }

    .disciription {
        width: 350px;
    }

    .disciription p {
        font-size: 13px;
        margin: 0 20px 15px 20px;
    }

    .img img {
        width: 30px;
        margin-left: 10px;
    }
    .button-area {
        margin: 30px;
        width: 125px;
        height: 35px;
        line-height: 35px;
        background-color: #012a31;
    }
    
    .button-area a {
        color: #9c2374;
        font-size: 15px;
    }
    
    .button-area:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
}
