* {
    padding: 0;
    margin: 0;
    box-sizing: border box;
    text-decoration: none;
    list-style: none;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1F2028;
}

.button-area {
    margin: 30px;
    width: 130px;
    height: 65px;
    line-height: 65px;
    background-color: #012a31;
    box-shadow: 1px 1px 10px 3px #000;
}

.button-area a {
    color: #9c2374;
    font-size: 20px;
}

.button-area:hover {
    border-radius: 15px;
    background-color: #023e49;
}

.disciription h3 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #FFA7C4;
}

.post-date {
    margin-top: 30px;
    color: aliceblue;
}

img {
    width: 900px;
    margin-top: 30px;
}

.disciription {
    width: 1000px;
    margin: 0 auto;
}

h4 {
    color: #FFA7C4;
    font-size: 35px;
    margin: 20px 30px;
}

.disciription h3 {
    font-size: 45px;
    margin-bottom: 15px;
    color: #FFA7C4;
}

.disciription p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.img img{
    width: 30px;
    margin-right: 14px;
    margin-left: 30px;
    border-radius: 50%;
}

@media only screen and (max-width: 1300px) {
    .disciription {
        width: 600px;
    }
    img {
        width: 600px;
        margin-top: 30px;
    }

    .img img {
        width: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .button-area {
        margin: 30px;
        width: 100px;
        height: 45px;
        line-height: 45px;
        background-color: #012a31;
    }
    
    .button-area a {
        color: #9c2374;
        font-size: 15px;
    }
    
    .button-area:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
    
    .disciription h3 {
        font-size: 45px;
        margin-bottom: 15px;
        color: #FFA7C4;
    }
    .disciription {
        width: 280px;
    }
    img {
        width: 280px;
        margin-top: 30px;
    }

    .img img {
        width: 30px;
    }

    h4 {
        font-size: 25px;
    }

    .disciription p {
        font-size: 15px;
    }

    .disciription h3 {
        font-size: 25px;
    }
}

@media (min-width: 355px) and (max-width: 500px) {
    .button-area {
        margin: 30px;
        width: 100px;
        height: 45px;
        line-height: 45px;
        background-color: #012a31;
    }
    
    .button-area a {
        color: #9c2374;
        font-size: 15px;
    }
    
    .button-area:hover {
        border-radius: 15px;
        background-color: #023e49;
    }
    
    .disciription h3 {
        font-size: 45px;
        margin-bottom: 15px;
        color: #FFA7C4;
    }
    .disciription {
        width: 370px;
        margin: 0 auto;
        padding: 10px;
    }
    img {
        position: relative;
        left: 30px;
        width: 280px;
        margin-top: 30px;
    }

    .img img {
        width: 30px;
    }

    h4 {
        font-size: 25px;
    }

    .disciription p {
        font-size: 15px;
    }

    .disciription h3 {
        font-size: 25px;
    }
}